<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #008bff;"></span>
		<span class="sg-label">
			$color-brand-blue <br />
			#008bff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #003664;"></span>
		<span class="sg-label">
			$color-brand-blue-dark <br />
			#003664
		</span>
	</li>
</ul>
