<div>Primary font: 'Domine', 'Helvetica', serif;</div>
<div><em>Primary font italic: 'Domine', 'Helvetica', serif;</em></div>
<div><strong>Primary font bold: 'Domine', 'Helvetica', serif;</strong></div>
<br>
<div class="font-secondary">Secondary font: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;</div>
<div class="font-secondary"><em>Secondary font italic: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;</strong></div>
