/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.button {
	display: inline-block;
	background: $color-brand-blue-dark;
	color: $color-white;
	line-height: 1;
	font-weight: bold;
	padding: 1rem 2rem;
	border: 0;
	border-radius: $border-radius;
	text-align: center;
	transition: background 0.2s ease;

	&:hover, &:focus {
		background: $color-brand-blue;
		color: $color-white;
	}

	/**
	 * Disabled button
	 */
	&.disabled {
		background: $color-gray-15;
		color: $color-gray-50;
	}
}

/**
 * Small button
 */
.c-btn-small {
	padding: $pad-half;
}

/**
 * Large button
 */
.c-btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $color-gray-50;
	font-size: 1.4rem;
	font-weight: normal;
}

/**
 * Button on overlay
 */
 
 .c-btn--overlay {
	 background: $color-gray-35;
 }